[
   {faxe, [
      {dfs, [
         {script_path, "/home/ubuntu/faxe/dfs/"}
      ]},
      {http_api_port, 8081},
      {python, [
         {version, "3"}, %% python version to use / string !
         {script_path, "/home/ubuntu/faxe/python/"}
      ]},
      {erlydtl_templates, [
         {"/templates/site.dtl", templates_side}
      ]},
      {metrics, [
         {msg_queue_len_high_watermark, 15}
      ]},
      {email, [
         {from_address, <<"noreply@tgw-group.com">>},
         {smtp_relay, <<"smtp.tgw.local">>},
         {template, "/home/ubuntu/faxe/templates/email_template.html"}
      ]}
   ]},
   {lager, [
      {colored, true},
      {error_logger_redirect, true},
      {handlers, [
         {lager_console_backend, [{level, warning},
            {formatter, lager_default_formatter},
            {formatter_config,
               [time, color, " [",severity,"] ",
                  {flow, ["(", flow, ") "], [""]},
                  {comp, ["(", comp, ") "], [""]},
                  message,
                  "\e[0m\r\n"] %% clear color and new line
            }
         ]}
         ,
         {lager_file_backend, [{file, "log/error.log"}, {level, error}]}
%%         ,
%%         {lager_file_backend, [{file, "error.log"}, {level, error}]},
%%         {lager_file_backend, [{file, "console.log"}, {level, info}]}
      ]}
   ]},
   {kernel,
      [
         {shell_history, enabled},
         {shell_history_path, ".rebar3"}
      ]

   }
].
