.rebar3
_*
.eunit
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
/_build/*
.idea
apps/faxe/test/
dfs/
python/
/apps/faxe/doc/
/apps/faxe/src/lib/parser/data.erl
/apps/faxe/src/lib/parser/robot_plc.json
/apps/faxe/priv_old/

