# pip install --no-cache-dir -r python_requirements.txt
###### Requirements without Version Specifiers ######
psutil
cytoolz
jsonpath-ng >= 1.5.2
numpy
pandas
scipy
paho-mqtt
requests
ujson
opencv-python-headless
azure-storage-blob
#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
# docopt == 0.6.1             # Version Matching. Must be version 0.6.1
# keyring >= 4.1.1            # Minimum version 4.1.1
# coverage != 3.5             # Version Exclusion. Anything except version 3.5
# Mopidy-Dirble ~= 1.1        # Compatible release. Same as >= 1.1, == 1.*
#
###### Refer to other requirements files ######
# -r other-requirements.txt
