{erl_opts, [{parse_transform, lager_transform}, {parse_transform, inheritor}, debug_info]}.
{erl_first_files, ["src/components/esp_stats.erl"]}.
{eunit_opts, [verbose]}.
{deps, [
   {lager_udp_backend,  {git, "git://github.com/LineMetrics/lager_udp_backend.git", {branch, "master"}}},
%%   {carrot,             {git, "git://github.com/LineMetrics/carrot.git", {branch, "erlang18"}}},
%%   {worker_pool,        {git, "git://github.com/inaka/worker_pool.git", {tag, "2.0.1"}}},
%%   {mavg,               {git, "git://github.com/EchoTeam/mavg.git", {branch, "master"}}},
   {fluxer,             {git, "git://github.com/LineMetrics/fluxer.git", {branch, "master"}}},
   {jsx,                {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}},
%%   {msgpack,            {git, "git://github.com/LineMetrics/msgpack-erlang.git"}},
%%   {erlang_js,          {git, "git://github.com/rhumbertgz/erlang_js.git", {branch, "develop"}}},
   {dataflow,           {git, "git://github.com/heyoka/dataflow.git", {branch, "master"}}},
   {dfs,                {git, "git://github.com/heyoka/dfs.git", {branch, "master"}}},
   {erl_lib,            {git, "git://github.com/LineMetrics/erl_lib.git", {branch, "rabbit_common-comp"}}},
   {qdate,              {git, "git://github.com/choptastic/qdate.git", {branch, "master"}}},
   {cowboy,              {git, "git://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}}

]}.

{relx, [{release, { faxe, "0.1.0" },
         [sasl, erl_lib,faxe,
          runtime_tools, wx, observer]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
