{erl_opts, [{parse_transform, lager_transform}, {parse_transform, inheritor}, debug_info]}.
{erl_first_files, ["src/components/esp_stats.erl"]}.
%%{eunit_opts, [verbose]}.

{plugins,[
   rebar3_hex %, rebar_mix
%% ,
%%    { rebar3_elixir_compile, ".*", {git, "https://github.com/barrel-db/rebar3_elixir_compile.git", {branch, "master"}}}
]}.


{deps, [
%%   {lager_udp_backend,  {git, "https://github.com/LineMetrics/lager_udp_backend.git", {branch, "master"}}},
   {lager, "3.7.0"},
%%   {carrot,             {git, "https://github.com/heyoka/carrot.git", {branch, "erlang18"}}},
%%   {worker_pool,        {git, "https://github.com/inaka/worker_pool.git", {tag, "2.0.1"}}},
%%   {mavg,               {git, "https://github.com/EchoTeam/mavg.git", {branch, "master"}}},
%%   {swarm,              {elixir, "swarm", "3.3.1"}},
   {fluxer,             {git, "https://github.com/LineMetrics/fluxer.git", {branch, "master"}}},
   {jsx,                {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
%%   {msgpack,            {git, "https://github.com/LineMetrics/msgpack-erlang.git"}},
%%   {erlang_js,          {git, "https://github.com/rhumbertgz/erlang_js.git", {branch, "develop"}}},
%%    {locks,              {git, "https://github.com/uwiger/locks.git", {branch, "master"}}},
   msgpack,
   {dfs,                {git, "https://github.com/heyoka/dfs.git", {branch, "master"}}},
   {erl_lib,            {git, "https://github.com/LineMetrics/erl_lib.git", {branch, "rabbit_common-comp"}}},
   {qdate,              {git, "https://github.com/choptastic/qdate.git", {branch, "master"}}},
    {cowboy,             {git, "https://github.com/ninenines/cowboy.git", {tag, "2.6.3"}}},
   {erlport,            {git, "https://github.com/erlport/erlport.git", {branch, "master"}}},
   {emqtt,              {git, "https://github.com/heyoka/emqtt.git", {branch, "master"}}},
%%   {emqttc_pool,              {git, "https://github.com/hachreak/emqttc_pool.git", {branch, "master"}}},
   {modbus,             {git, "https://github.com/heyoka/erlang-modbus", {branch, "master"}}},
   {folsom,             {git, "https://github.com/folsom-project/folsom", {branch, "master"}}},
   esq
   %
%% ,
%%    {java_erlang,        {git, "https://github.com/fredlund/JavaErlang", {branch, "master"}}}
%%   ,
%%   {erlydtl,            {git, "https://github.com/erlydtl/erlydtl", {branch, "master"}}}

]}.

%% {provider_hooks, [
%%    {pre, [{compile, {mix, find_elixir_libs}}]},
%%    {post, [{compile, {mix, consolidate_protocols} }]}
%% ]}.
%% 
%% {elixir_opts, [{env, dev}]}.

{relx, [{release, { faxe, "0.1.0" },
         [sasl, lager, erl_lib,faxe, %swarm,
          runtime_tools, wx, observer]},

        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true},

   {overlay, [
      {template, "config/sys.config", "releases/{{default_release_version}}/sys.config"},
      {template, "config/vm.args", "releases/{{default_release_version}}/vm.args"}
%%      ,
%%      {copy, "{{base_dir}}/consolidated", "releases/{{release_version}}/consolidated"}
      ]}
   ]

}.

{profiles, [
   {dev1, [{relx, [{overlay_vars, "config/vars_dev1.config"}]}]},
   {dev2, [{relx, [{overlay_vars, "config/vars_dev2.config"}]}]},
   {dev3, [{relx, [{overlay_vars, "config/vars_dev3.config"}]}]},
   {dev4, [{relx, [{overlay_vars, "config/vars_dev4.config"}]}]},
   {dev5, [{relx, [{overlay_vars, "config/vars_dev5.config"}]}]},
   {prod, [
      {relx, [{overlay_vars, "config/vars_prod.config"},
         {sys_config, "config/prod/sys.config"},
         {dev_mode, false},
         {include_erts, true},
         {include_src, false}
      ]}]}
]}.
