{minimum_otp_vsn, "23"}.
{erl_opts, [
   {parse_transform, lager_transform},
   {lager_function_transforms,
      [
         %% Placeholder              Resolve type  Callback tuple
         {device,       on_emit,      {faxe_util, device_name}}
      ]},
   debug_info]}.
%{eunit_opts, [verbose]}.
{erl_first_files, ["src/components/esp_stats.erl"]}.
{project_plugins, [ {rebar3_cuttlefish, {git, "https://github.com/heyoka/rebar3_cuttlefish", {branch, "master"}}}]}.
{plugins,[rebar3_hex, rebar3_path_deps]}.
{overrides,[{override,mongodb,[{plugins,[]}]}]}.

{cuttlefish, [
   {schema_dir, "./priv"},
   {schema_discovery, true}
]}.

{deps, [
   {lager, "3.9.2"},
   {faxe_common,        {git, "https://github.com/heyoka/faxe_common.git", {branch, "master"}}},
   {carrot,             {git, "https://github.com/heyoka/carrot.git", {branch, "cleaner_events"}}},
   {jiffy,              {git, "https://github.com/davisp/jiffy.git", {tag, "1.0.8"}}},
   {lager_logstash_backend,
                        {git, "https://github.com/heyoka/lager_logstash_backend.git", {branch, "master"}}},
   {dfs,                {git, "https://github.com/heyoka/dfs.git", {branch, "tuples"}}},%{tag, "1.1.0"}}},
   cowboy,
   {gun,                {git, "https://github.com/heyoka/gun.git", {branch, "fix_stacktrace"}}},
   {pythra,             {git, "https://github.com/heyoka/pythra.git", {branch, "strings_always"}}},
   {emqttc,             {git, "https://github.com/getong/emqttc.git", {tag, "v0.8.1"}}},
   {snap7erl,           {git, "https://github.com/heyoka/snap7erl.git", {branch, "master"}}},
   {modbus,             {git, "https://github.com/heyoka/erlang-modbus", {branch, "refactor_client"}}},
   {folsom,             {git, "https://github.com/folsom-project/folsom", {branch, "master"}}},
   {epgsql,             {git, "https://github.com/epgsql/epgsql", {tag, "4.7.0"}}},
   {mongodb,            {git, "https://github.com/comtihon/mongodb-erlang", {tag, "v3.2.0"}}},
   {jamdb_oracle,       {git, "https://github.com/erlangbureau/jamdb_oracle", {branch, "master"}}},
   {uuid,               {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
   {gen_smtp,           {git, "https://github.com/gen-smtp/gen_smtp.git", {branch, "master"}}},
   esq,
   {vmstats,            {git, "https://github.com/heyoka/vmstats.git", {tag, "2.4.0"}}},
   {plists,             {git, "https://github.com/silviucpp/plists.git", {tag, "1.1.3"}}},
   {jwt,                {git, "https://github.com/artemeff/jwt.git", {branch, "master"}}}
%%   ,
%%   {poolboy,            {git, "https://github.com/heyoka/poolboy.git", {branch, "master"}}},

   %% for now only for tests (rabbitmq streams)
%%   lake
]}.


{relx, [{release, { faxe, "1.0.11" },
   [faxe_common, faxe, sasl, lager, os_mon]},%, runtime_tools , wx, observer]},
   {dev_mode, false},
   {include_erts, false},
   {check_for_undefined_functions, false},
   {overlay_vars, "config/vars.config"},
   {overlay, [ {template, "apps/faxe/priv/advanced.config", "{{output_dir}}/etc/advanced.config"}]}
   ]

}.

{profiles, [
   {dev1,
      [{relx, [
         {overlay_vars, "config/vars/dev1.config"},
      {overlay, [
         {mkdir, "python"}, {mkdir, "templates"},
         {copy, "{{output_dir}}/lib/faxe-{{release_version}}/priv/email_template.html",
            "templates/email_template.html"}
      ]}
   ]}]},
   {dev2, [{relx, [{overlay_vars, "config/vars/dev2.config"}]}]},
   {dev3, [{relx, [{overlay_vars, "config/vars/dev3.config"}]}]},
   {dev4, [{relx, [{overlay_vars, "config/vars/dev4.config"}]}]},
   {dev5, [{relx, [{overlay_vars, "config/vars/dev5.config"}]}]},
   {balena, [
      {relx, [
%%         {exclude_apps, [wx, observer]},
         {overlay_vars, "config/vars/balena.config"},
         {overlay, [
            {mkdir, "python"}, {mkdir, "templates"},
            {copy, "{{output_dir}}/lib/faxe-{{release_version}}/priv/email_template.html",
               "templates/email_template.html"}
         ]},
         {dev_mode, false},
         {include_erts, true},
         {include_src, false}
      ]}]},
   {prod, [
      {relx, [
         {overlay_vars, "config/vars/prod.config"},
         {overlay, [
            {mkdir, "python"}, {mkdir, "templates"},
            {copy, "{{output_dir}}/lib/faxe-{{release_version}}/priv/email_template.html",
               "templates/email_template.html"}
         ]},
         {dev_mode, false},
         {include_erts, true},
         {include_src, false}
      ]}]}

]}.
