[{lager, [
  {colored, true},
  {error_logger_redirect, true},
  {handlers, [
    {lager_console_backend, [{level, warning},
      {formatter, lager_default_formatter},
      {formatter_config,
        [time, color, " [",severity,"] ",
          {flow, ["(", flow, ") "], [""]},
          {comp, ["(", comp, ") "], [""]},
          message,
          "\e[0m\r\n"] % clear color and newline
      }
    ]}
    ,
    {lager_flowlog_backend, [
      {level, notice},
      {host, <<"http://10.14.204.8">>},
      {port, 4201},
      {fields,
        [<<"ts">>, <<"severity">>, <<"flow">>, <<"comp">>, <<"message">>, <<"meta">>]
      },
      {storage_backend, crate_log_writer}
    ]
    }
    ,
%%    {lager_emit_backend, [{level, notice}]} ,
    {lager_file_backend, [{file, "log/error.log"}, {level, error}]}
%%         ,
%%         {lager_file_backend, [{file, "console.log"}, {level, info}]}
  ]}
]},
  {kernel,
    [
      {shell_history, enabled},
      {shell_history_path, ".rebar3"}
    ]

  }
].