[
   {'_', [
      {"/v1/import/python", upload_handler, [{op, python}]},
      {"/v1/import/dfs", upload_handler, [{op, dfs}]},
      %% REST
      {"/v1/config", rest_misc_handler, [{op, config}]},

      {"/v1/stats", rest_stats_handler, [{op, vm}]},
      {"/v1/stats/vm", rest_stats_handler, [{op, vm}]},
      {"/v1/stats/faxe", rest_stats_handler, [{op, faxe}]},

      {"/v1/users", rest_user_handler, [{op, user_list}]},
      {"/v1/user/add", rest_user_handler, [{op, user_add}]},
      {"/v1/user/delete/:username", rest_user_handler, [{op, user_delete}]},

      {"/v1/dfs/validate", rest_misc_handler, [{op, validate_dfs}]},

      {"/v1/tags", rest_tags_handler, [{op, tags}]},

      {"/v1/tasks", rest_tasks_handler, [{op, list}]},
      {"/v1/tasks/import", rest_tasks_handler, [{op, import}]},
      {"/v1/tasks/running", rest_tasks_handler, [{op, list_running}]},
      {"/v1/tasks/update", rest_tasks_handler, [{op, update}]},
      {"/v1/tasks/update_by_tags/:tags", rest_tasks_handler, [{op, update_by_tags}]},
      {"/v1/tasks/update_by_template:template", rest_tasks_handler, [{op, update_by_template}]},

      {"/v1/tasks/start_permanent", rest_tasks_handler, [{op, start_permanent}]},
      {"/v1/tasks/start/:ids", rest_tasks_handler, [{op, start}]},
      {"/v1/tasks/start/by_ids/:ids", rest_tasks_handler, [{op, start_by_ids}]},
      {"/v1/tasks/start/by_tags/:tags", rest_tasks_handler, [{op, start_by_tags}]},
      {"/v1/tasks/stop/:ids", rest_tasks_handler, [{op, stop}]},
      {"/v1/tasks/stop/by_ids/:ids", rest_tasks_handler, [{op, stop_by_ids}]},
      {"/v1/tasks/stop/by_tags/:tags", rest_tasks_handler, [{op, stop_by_tags}]},
      {"/v1/tasks/stop_all", rest_tasks_handler, [{op, stop_all}]},
      {"/v1/tasks/by_template/:template_id", rest_tasks_handler, [{op, list_by_template}]},
      {"/v1/tasks/by_tags/:tags", rest_tasks_handler, [{op, list_by_tags}]},
      {"/v1/tasks/by_group/:groupname", rest_tasks_handler, [{op, list_by_group}]},

      {"/v1/task/stats/:task_id", rest_task_handler, [{op, stats}]},
      {"/v1/task/errors/:task_id", rest_task_handler, [{op, errors}]},
      {"/v1/task/logs/:task_id", rest_task_handler, [{op, logs}]},

      {"/v1/task/register", rest_task_handler, [{op, register}]},
      {"/v1/task/start_temp", rest_task_handler, [{op, start_temp}]},
      {"/v1/task/start_debug/:task_id", rest_task_handler, [{op, start_debug}]},
      {"/v1/task/stop_debug/:task_id", rest_task_handler, [{op, stop_debug}]},
      {"/v1/task/:task_id", rest_task_handler, [{op, get}]},
      {"/v1/graph/:task_id", rest_task_handler, [{op, get_graph}]},
      {"/v1/task/update/:task_id", rest_task_handler, [{op, update}]},
      {"/v1/task/ping/:task_id", rest_task_handler, [{op, ping}]},
      {"/v1/task/delete/:task_id", rest_task_handler, [{op, delete}]},
      {"/v1/task/remove_tags/:task_id", rest_task_handler, [{op, remove_tags}]},
      {"/v1/task/add_tags/:task_id", rest_task_handler, [{op, add_tags}]},
      {"/v1/task/start/:task_id/[:permanent]", rest_task_handler, [{op, start}]},
      {"/v1/task/stop/:task_id/[:permanent]", rest_task_handler, [{op, stop}]},
      %% task concurrency
      {"/v1/task/start_group/:task_id/:concurrency/[:permanent]", rest_task_handler, [{op, start_group}]},
      {"/v1/task/stop_group/:groupname/[:permanent]", rest_task_handler, [{op, stop_group}]},
      {"/v1/task/delete_group/:groupname", rest_task_handler, [{op, delete_group}]},
      {"/v1/task/group_size/:groupname/:group_size", rest_task_handler, [{op, set_group_size}]},

      {"/v1/templates", rest_templates_handler, [{op, list}]},
      {"/v1/templates/import", rest_templates_handler, [{op, import}]},

      {"/v1/template/register", rest_template_handler, [{op, register}]},
      {"/v1/template/:template_id", rest_template_handler, [{op, get}]},
      {"/v1/template/delete/:template_id", rest_template_handler, [{op, delete}]},

      {"/v1/task/from_template/:template_id/:task_name", rest_template_handler, [{op, totask}]}
   ]}
].