{nodename, "faxe"}.
{console_log_level, warning}.
{mnesia_dir, "/data"}.
{queue_base_dir, "/data"}.
{emit_log_level, warning}.
{http_api_port, 8081}.
{mqtt_host, "example.com"}.
{amqp_host, "example.com"}.
{crate_host, "example.com"}.
{crate_http_host, "example.com"}.
{crate_http_port, 4200}.
{dfs_script_path, "/dfs/"}.
{python_script_path, "/python/"}.
{queue_base_dir, "/data/esq"}.
{rabbitmq_root_exchange, "x_root"}.
{flow_auto_start, off}.
{allow_anonymous, true}.