{nodename, 'faxe2@127.0.0.1'}.
{sbwt, "medium"}.
{sbwtdcpu, "short"}.
{sbwtdio, "short"}.
{mqtt_host, "10.14.204.20"}.
{amqp_host, "10.14.204.28"}.
{crate_host, "10.14.204.10"}.
{crate_http_host, "10.14.204.10"}.
{crate_http_port, 4200}.
{dfs_script_path, "/home/heyoka/workspace/faxe/dfs/"}.
{python_script_path, "/home/heyoka/workspace/faxe/python/"}.
{rabbitmq_root_exchange, "x_lm_fanout"}.
{flow_auto_start, off}.
{mnesia_dir, "./mnesia_data"}.
{http_api_port, 8082}.
{http_api_tls_enable, off}.