{nodename, "faxe"}.
{console_log_level, warning}.
{http_api_port, 8081}.
{mqtt_host, "10.14.204.3"}.
{amqp_host, "10.14.204.3"}.
{crate_host, "10.14.204.8"}.
{crate_http_host, "10.14.204.8"}.
{crate_http_port, 4201}.
{dfs_script_path, "./dfs/"}.
{python_script_path, "./python/"}.
{rabbitmq_root_exchange, "x_lm_fanout"}.
{flow_auto_start, on}.
{allow_anonymous, false}.