[
   {faxe, [
      {dfs, [
         {script_path, "/home/heyoka/workspace/faxe/dfs/"}
      ]},
      {http_api_port, 80},
      {python, [
         {version, "3"}, %% python version to use / string !
         {script_path, "/home/heyoka/workspace/faxe/python/"}
      ]},
      {esq_base_dir, <<"/data/esq/">>},
      {metrics, [
         {msg_queue_len_high_watermark, 15}
      ]},
      %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
      %% default configs
      {email, [
         {from_address, <<"noreply@tgw-group.com">>},
         {smtp_relay, <<"smtp.tgw.local">>},
         {smtp_user, undefined},
         {smtp_pass, undefined},
         {template, <<"/home/heyoka/workspace/faxe/apps/faxe/priv/email_template.html">>}
      ]},
      {mqtt, [
         {host, <<"10.14.204.3">>},
         {port, 1883}
      ]},
      {amqp, [
         {host, <<"10.14.204.3">>},
         {port, 5672}
      ]},
      {crate, [
         {host, <<"10.14.204.8">>},
         {port, 5433},
         {user, <<"crate">>},
         {database, <<"doc">>}
      ]},
      {crate_http, [
         {host, <<"10.14.204.8">>},
         {port, 4201}
      ]},
      {flowlog_reader, crate_log_reader},
      {flowlog_writer, crate_log_writer}
      %%
      %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
   ]},

   {vmstats,
      [
         {sink, faxe_vmstats},
         {interval, 3000},
         {sched_time, false}
      ]
   },
   {lager, [
      {colored, true},
      {error_logger_redirect, true},
      {handlers, [
         {lager_console_backend, [{level, warning}]},
         {lager_file_backend, [{file, "log/error.log"}, {level, error}]}
      ]}
   ]},
   {kernel,
      [
         {shell_history, enabled},
         {shell_history_path, ".rebar3"}
      ]

   }
].
