[
   {faxe, [
      {dfs, [
         {script_path, "/home/heyoka/workspace/faxe/dfs/"}
      ]},
      {http_api_port, 8081},
      {python, [
         {version, "3"}, %% python version to use / string !
         {script_path, "/home/heyoka/workspace/faxe/python/"}
      ]},
      {erlydtl_templates, [
         {"/templates/site.dtl", templates_side}
      ]}
   ]},
   {lager, [
      {colored, true},
      {error_logger_redirect, false},
      {handlers, [
         {lager_console_backend, [{level, info}]}
%%         ,
%%         {lager_file_backend, [{file, "error.log"}, {level, error}]},
%%         {lager_file_backend, [{file, "console.log"}, {level, info}]}
      ]}
   ]},
   {kernel,
      [
         {shell_history, enabled},
         {shell_history_path, ".rebar3"}
      ]

   }
].
