[
   {faxe, [
      {dfs, [
         {script_path, "/home/heyoka/workspace/faxe/dfs/"}
      ]},
      {http_api_port, 8081},
      {python, [
         {version, "3"}, %% python version to use / string !
         {script_path, "/home/heyoka/workspace/faxe/python/"}
      ]},
      {erlydtl_templates, [
         {"/templates/site.dtl", templates_side}
      ]},
      {metrics, [
         {msg_queue_len_high_watermark, 15}
      ]},
      {email, [
         {from_address, <<"noreply@tgw-group.com">>},
         {smtp_relay, <<"smtp.tgw.local">>},
         {template, "/home/heyoka/workspace/faxe/apps/faxe/priv/email_template.html"}
      ]}
   ]},
   {lager, [
      {colored, true},
      {error_logger_redirect, true},
      {handlers, [
         {lager_console_backend, [{level, info}]}
         ,
         {lager_file_backend, [{file, "log/error.log"}, {level, error}]}
%%         ,
%%         {lager_file_backend, [{file, "console.log"}, {level, info}]}
      ]}
   ]},
   {kernel,
      [
         {shell_history, enabled},
         {shell_history_path, ".rebar3"}
      ]

   }
].
