[
  { faxe, [
     {dfs, [
        {script_path, "/home/heyoka/workspace/faxe/dfs/"}
     ]},
     {python, [
        {version, "3"}, %% python version to use / string !
        {script_path, "/home/heyoka/workspace/faxe/python/"}
     ]},
     {erlydtl_templates, [
        {"/templates/site.dtl", templates_side}
     ]}
  ]},
   {emqttc_pool,[
      {pools,[
         {emqttc_pool, [
            {size, 5},
            {max_overflow, 10}
         ], [
            {host, "10.14.12.142"}, {port, 1883},
%%            {host, "127.0.0.1"}, {port, 1883},
            {qos, 1}, {retained, false},
            {logger, info}
         ]}
      ]}
   ]},

  {lager, [
    {colored, true},
%%      {error_logger_redirect, false},
    {handlers, [
      {lager_console_backend, [{level, debug}]}
    ]}
  ]},

   {kernel,
      [
         {logger_level, info},
         {logger, [] }
      ]

   }
].
