{nodename, "faxe"}.
{mnesia_dir, "./mnesia_data"}.
{http_api_port, 8081}.
{mqtt_host, "example.com"}.
{amqp_host, "example.com"}.
{crate_host, "example.com"}.
{crate_http_host, "example.com"}.
{dfs_script_path, "/dfs/"}.
{python_script_path, "/python/"}.
{queue_base_dir, "/tmp"}.
{rabbitmq_root_exchange, "x_root"}.



